<?xml version='1.0' encoding='utf-8'?>
<widget id="id.rk.afp" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>IoT</name>
    <description>IoT</description>
    <author email="hi@rkafp.id" href="https://rkafp.id">
        rkafp
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <icon src="www/icon.png"/>
</widget>
